<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560721510284-6i425m76dba1nudcge0mfddsmdt2fggf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560721510284-6i425m76dba1nudcge0mfddsmdt2fggf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuYoHKrdF5AKXIiVGXOgz_6GFVY187mlo</string>
	<key>GCM_SENDER_ID</key>
	<string>560721510284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lettutorApp</string>
	<key>PROJECT_ID</key>
	<string>lettutor-beb38</string>
	<key>STORAGE_BUCKET</key>
	<string>lettutor-beb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560721510284:ios:6977663f336ae40d4760a9</string>
</dict>
</plist>